{%extends "base.html"%}
{%block head%}
<title>Profile</title>
{%endblock%}

{%block body%}

    <div class="flex items-center  h-screen w-screen">
    

        <h1 class="flex-grow text-center transform -rotate-90">Jorge Castillo</h1>
        
        
        <ul class="flex flex-grow flex-col sm:flex-row">
            <li class="flex-1 my-3 mx-5 border border-black text-center"><a href="/">Home</a></li>
            <li class="flex-1 my-3 mx-5 border border-black text-center"><a href="/wall">The Wall</a></li>
        </ul>
        
    </div>

{%endblock%}