{%extends "base.html"%}
{%block head%}
<title>Portfolio</title>
{%endblock%}

{%block body%}
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/wall">The Wall</a></li>
    </ul>

    <h1>Jorge Castillo</h1>

    <h2>Profile</h2>
    <p>I am a production control and purchasing specialist. I live and work South Carolina. I lived in Japan for six and a half years. I lived in Fukushima prefecture and in Osaka prefecture. I  worked alongside several Japanese co-workers speaking both English and Japanese. </p>

    <h2>Experience</h2>
    <ul>
        <li>Created a Java Android app for the Harvard Medical group</li>
        <li>Created a website using HTML, CSS, Python, Bootstrap</li>
        <li>Created apps using tkinter</li>
        <li>Maintained my schools camera system anytime it went down</li>
        <li>Create the production schedule for may company</li>
        <li>Aquire all raw material for comapny </li>
        <li>Corodinate shipments to and from Japan</li>
    </ul>

{%endblock%}