{%extends "base.html"%}
{%block head%}
<title>Projects</title>

{%endblock%}

{%block body%}
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="/wall">The Wall</a></li>
        
    </ul>

    <h1>Projects</h1>
    <ul>
        <li><a href="http://jjjorge-login.herokuapp.com">Login Screen</a></li>
    </ul>

{%endblock%}