{%extends "base.html"%}

{%block head%}
    <title>The Wall</title>
{%endblock%}

{%block body%}
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/wall">The Wall</a></li>
    </ul>
    <h1>The Wall</h1>
    <hr>

    {%for post in theWall%}
        {%if post.name%}
            <h3>{{post.name}}</h3>
            <h5>{{post.date}}</h5>
        {%else%}
            <h3>Stranger</h3>
            <h5>{{post.date}}</h5>
        {%endif%}

        <p>{{post.content}}</p>
        <a class="btn btn-danger" role="button"href="/wall/delete/{{post.id}}">Delete</a></button>
        <hr>
    {%endfor%}

    <h2>Create new post</h2>
    <form action="/wall" method="POST">
        <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" class="form-control">
        <br>
        <label for="content">Post</label>
        <textarea name="content" id="content" rows="3" class="form-control"></textarea>
        <br>
        <button type="submit" class="btn btn-success">Post</button>
        </div>
    </form>

{%endblock%}