{%extends "base.html"%}

{%block head%}
    <title>The Wall</title>
{%endblock%}

{%block body%}
    <h1>The Wall</h1>
    <hr>

    {%for post in theWall%}
        {%if post.name%}
            <h3>{{post.name}}</h3>
            <h5>{{post.date}}</h5>
        {%else%}
            <h3>Stranger</h3>
            <h5>{{post.date}}</h5>
        {%endif%}

        <p>{{post.content}}</p>
        <a href="/wall/delete/{{post.id}}">Delete</a>
        <hr>
    {%endfor%}

    <h2>Create new post</h2>
    <form action="/wall" method="POST">
        Author: <input type="text" name="author" id="author">
        <br>
        Content: <input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Tag">
    </form>

{%endblock%}